<table>
  <thead>
    <tr>
      <th>Filename</th>
      <th>Size</th>
      <th>Date</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @directory.each do |entry| %>
    <tr>
      <% real_path = "#{@path}#{entry}" %>
      <td><a class="<%= File.file?(real_path) ? 'file': 'directory' %>"
        href="/<%= real_path %>">
        <%= entry %>
      </a></td>
      <td>
        <%= number_to_human_size File.size(real_path) rescue '-' %>
      </td>
      <td>
        <%= File.mtime(real_path).to_formatted_s(:short) rescue '-' %>
      </td>
      <td>
        <a href='' onclick="Index.delete('<%= real_path %>')">
          Delete
        </a>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
