<h1><%= @absolute_path %></h1>

<table>
  <thead>
    <tr>
      <th>Filename</th>
      <th>Size</th>
      <th>Date</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @directory.each do |entry| %>
    <tr>
      <td>
        <%= link_to "#{entry[:entry]}", "/#{entry[:relative]}", class: entry[:type].to_s %>
      </td>
      <td>
        <%= entry[:size] %>
      </td>
      <td>
        <%= entry[:date] %>
      </td>
      <td>
        <%= link_to 'Delete', "/#{entry[:relative]}", method: :delete, data: { confirm: "Are you sure you want to delete `#{entry[:absolute]}`?" } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
