<h1>/<%= @path %></h1>

<table>
  <thead>
    <tr>
      <th>Filename</th>
      <th>Size</th>
      <th>Date</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @directory.each do |entry| %>
    <tr>
      <% real_path = "#{@path}#{entry}"
         is_file = File.file?(real_path)
         size = is_file ? (number_to_human_size File.size(real_path) rescue '-'): '-'
      %>
      <td>
        <%= link_to "#{entry}#{is_file ? '': '/'}", "/#{real_path}", class: is_file ? 'file': 'directory' %>
      </td>
      <td>
        <%= size %>
      </td>
      <td>
        <%= File.mtime(real_path).to_formatted_s(:short) rescue '-' %>
      </td>
      <td>
        <%= link_to 'Delete', "/#{real_path}", method: :delete, data: { confirm: "Are you sure you want to delete `#{real_path}`?" } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
