<h1><%= @absolute_path %></h1>

<table>
  <thead>
    <tr>
      <th>Filename</th>
      <th>Size</th>
      <th>Date</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @directory.each do |entry| %>
    <tr>
      <% real_path_relative = "#{@path}#{entry}"
         real_path_absolute = "#{@absolute_path}/#{entry}"
         is_file = File.file?(real_path_absolute)
      %>
      <td>
        <%= link_to "#{entry}#{is_file ? '': '/'}", "/#{real_path_relative}", class: is_file ? 'file': 'directory' %>
      </td>
      <td>
        <%= is_file ? (number_to_human_size File.size(real_path_absolute) rescue '-'): '-' %>
      </td>
      <td>
        <%= File.mtime(real_path_absolute).to_formatted_s(:short) rescue '-' %>
      </td>
      <td>
        <%= link_to 'Delete', "/#{real_path_relative}", method: :delete, data: { confirm: "Are you sure you want to delete `#{real_path_absolute}`?" } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
