<h1><%= @absolute_path %></h1>

<table>
  <thead>
    <tr>
      <th>Filename</th>
      <th>Size</th>
      <th>Date</th>
      <th>Rename</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @directory.each do |entry| %>
    <tr>
      <td>
        <%= link_to "#{entry[:entry]}", "/#{entry[:relative]}", class: entry[:type].to_s %>
      </td>
      <td>
        <%= entry[:size] %>
      </td>
      <td>
        <%= entry[:date] %>
      </td>
      <td>
        <% if entry[:entry] != './' && entry[:entry] != '../' %>
          <%= link_to 'Rename', '#', class: 'delete', onclick: "rename('#{entry[:relative]}')" %>
        <% end %>
      </td>
      <td>
        <% if entry[:entry] != './' && entry[:entry] != '../' %>
          <%= link_to 'Delete', "/#{entry[:relative]}", method: :delete, class: 'delete', data: { confirm: "Are you sure you want to delete `#{entry[:absolute]}`?" } %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
